{{ define "content" }}
<div class="table-responsive" style="margin: 0 auto; padding: 1rem;">
    <h2>Casos confirmados nuevos y totales por región</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr class="thead-dark">
                <th>Region</th>
                <th>Nuevos</th>
                <th>Totales</th>
                <th>Muertos</th>
            </tr>
        </thead>
        <tbody>
            {{ range . }}
            <tr>
                <td>{{ .Region }}</td>
                <td>{{ .New }}</td>
                <td>{{ .Total }}</td>
                <td>{{ .Dead }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
{{ end }}